body {
  background-color: #00ff00;
  color: white;
}

@font-face {
  font-family: november;
  src: url("/fonts/novem__.ttf");
}

#heart {
  position: absolute;
  /*top:50%;*/
  /*left:50%;*/
  width: 100px;
  height: 90px;
  /*margin:-50px -45px;*/
  margin: 20px;
  transition: all 1s ease;
  animation: bigbadaboom 1s 1;
}
.heartbeat-animation {
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: hsl(0, 50%, 50%);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@keyframes bigbadaboom {
  0% {
    transform: scale(1);
  }
  8% {
    transform: scale(0.85);
  }
  17% {
    transform: scale(1);
    /* transform: translate(-5, -5%); */
  }
  25% {
    transform: scale(0.85);
  }
  87.5% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
    /* transform: translate(5%, -5%); */
  }
}

#bpm-container {
  position: absolute;
  left: -15px;
  top: 38px;
  font-weight: normal;
  font-size: 30px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-align: center;
  line-height: 40px;
  width: 170px;
  opacity: 0.4;

  /* stretch font text */
  transform: scale(1.3, 1); /* Safari and Chrome */
  -moz-transform: scale(1.3, 1); /* Firefox */
  -ms-transform: scale(1.3, 1); /* IE 9 */
  -o-transform: scale(1.3, 1); /* Opera */
  transform: scale(1.3, 1); /* W3C */
}
#bpm-number {
  font-size: 22px;
  /* font-family: 'Bungee Inline', cursive; */
  font-family: "november", Arial;
  visibility: hidden;
  letter-spacing: 1px;
}
#bpm-label {
  /* font-family: 'Bungee Inline', cursive; */
  font-family: "november", Arial;
  letter-spacing: 2px;
  padding-top: 9px;
}
